@import "./variables";
@import "./mixin";
@import "./common";

header {
    width: 100%;
    > nav {
        background-color: white;
        top: 0;
        z-index: 2;
        width: 100%;
        position: fixed;
        box-shadow: 0px 2px 40px rgba($color: #000000, $alpha: 0.5);
        > .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 19px 0;
            > ul {
                display: flex;
                align-items: center;
                > li {
                    @include font-style(14px, 400, 22px, #77838f);
                    text-transform: capitalize;
                    margin-left: 30px;
                }
            }
        }
    }
    #header-content {
        margin-top: 87px;
        z-index: 1;
        background-image: url(../images/Image.png);
        background-repeat: no-repeat;
        background-size: 100%;
        padding: 250px 0px;
        #header-details {
            width: 500px;
            > h1 {
                @include font-style(38px, 400, 48px, #1e2022);
            }
            > p {
                margin-bottom: 38px;
            }
            #header-button-section {
                display: flex;
                > button {
                    margin-right: 30px;
                }
            }
        }
    }
}

#services {
    padding: 100px 0px;
    display: flex;
    justify-content: space-between;
    .service-cart {
        width: calc((100% - 60px) / 3);
        text-align: center;
        > img {
            margin-bottom: 23px;
        }
        > h3 {
            @include font-style(18px, 400, 26px, #1e2022);
            margin-bottom: 15px;
        }
        > p {
            margin-bottom: 38px;
        }
    }
}


#objectives {
    width: 100%;
    background-color: #F7FAFD;
    margin: 0 auto;
    padding: 121px 0;

    >.container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1140px;

        >.container-imgs {
            height: 540px;
            width: calc((100% - 128px)*0.55);
            display: flex;
            justify-content: space-between;

            >.left-imgs {
                width: calc((100% - 29px)*0.5);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >.top-img {
                    height: calc((100% - 30px)*0.63);
                    width: 100%;
                    background-color: #EDF3FF;
                }

                >.bottom-img {
                    height: calc((100% - 30px)*0.37);
                    width: 100%;
                    background-color: #EDF3FF;
                }
            }

            >.right-imgs {
                width: calc((100% - 29px)*0.5);
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >.top-img {
                    height: calc((100% - 30px)*0.37);
                    width: 100%;
                    background-color: #EDF3FF;
                }

                >.bottom-img {
                    height: calc((100% - 30px)*0.63);
                    width: 100%;
                    background-color: #EDF3FF;
                }
            }
        }

        >.container-descr {
            height: 438px;
            width: calc((100% - 128px)*0.45);
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            >.info-btn {
                width: 130px;
                box-sizing: border-box;
                background-color: #E8FAF6;
                color: #00C9A7;
                font-size: 11px;
                line-height: 15px;
                font-weight: 400;
                padding: 9px 28px;
                text-decoration: none;
                border-radius: 16px;
                text-align: center;
            }

            >.title {
                >h1 {
                    @include font-style(32px, 400, 42px, #1E2022);
                }

                >p {
                    @include font-style(17px, 400, 27px, #77838F);
                }
            }

            >.benefits {
                display: flex;
                justify-content: space-between;
                >.special-button {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    >div {
                        display: flex;
                        justify-content: space-between;
                        >.shape {
                            display: inline-block;
                            width: 30px;
                            height: 30px;
                            background-color: #EDF3FF;
                            border-radius: 50%;
                            box-sizing: border-box;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            margin-right: 18px;
                        }

                        >.shape::after {
                            content: "";
                            display: inline-block;
                            width: 3px;
                            height: 6px;
                            border: 1px solid #0F70EB;
                            transform: translateX(-1px);
                        }

                        >span {
                            @include font-style(17px, 400, 27px, #77838F);
                        }
                        >span:first-child{
                            margin-bottom: 15px;
                        }
                    }
                }
            }

            >.start-btn {
                width: 150px;
                box-sizing: border-box;
                background-color: #0F70EB;
                color: white;
                font-size: 15px;
                line-height: 20px;
                font-weight: 600;
                padding: 15px 30px;
                text-decoration: none;
                border-radius: 4px;
                text-align: center;
            }
        }
    }
}

#contact{
    width: 100%;
    text-align: center;
    padding: 120px 0px;
    background: linear-gradient(90deg, rgba(1, 115, 236, 1) 0%, rgba(116, 63, 229, 1) 50%);
    #more-question {
        border: none;
        border-radius: 16px;
        background-color: rgba($color: #000000, $alpha: 0.15);
        padding: 9px 22px;
        @include font-style(11px, 400, 15px, white);
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 29px;
    }
    > h1 {
        @include font-style(55px, 400, 70px, white);
        margin-bottom: 20px;
    }
    #get-in-touch {
        @include font-style(14px, 600, 19px, white);
        text-decoration: none;
        text-transform: capitalize;
        background-color: #00c9a7;
        border-radius: 4px;
        padding: 15px 40px;
        border: none;
    }
}

#pricing {
    text-align: center;
    padding: 120px 0px;
    #pricing-button {
        border: none;
        border-radius: 16px;
        background-color: #e8faf6;
        padding: 9px 22px;
        @include font-style(11px, 400, 15px, #00c9a7);
        letter-spacing: 0.07em;
        text-transform: uppercase;
        margin-bottom: 29px;
        margin-bottom: 25px;
    }
    > p {
        margin-bottom: 38px;
    }
    > #pricing-list {
        width: 100%;
        display: flex;
        justify-content: space-between;
        > .pricing-cart {
            width: calc((100% - 60px) / 3);
            padding: 25px;
            box-sizing: border-box;
            text-align: center;
            border-radius: 4px;
            box-shadow: 0px 5px 20px rgba($color: #000000, $alpha: 0.5);
            > h5 {
                @include font-style(16px, 600, 24px, #0f70eb);
                text-transform: uppercase;
                margin-bottom: 50px;
            }
            > h1 {
                @include font-style(60px, 400, 75px, #1e2022);
                margin-bottom: 20px;
            }
            > p {
                margin-bottom: 38px;
            }
            #select-button {
                @include font-style(15px, 600, 20px, #0f70eb);
                width: 100%;
                border: none;
                padding: 15px 32px;
                box-sizing: border-box;
                background-color: #edf3ff;
                border-radius: 5px;
                text-transform: capitalize;
                text-align: left;
            }
        }
    }
}


footer {
    margin-top: 120px;
    padding: 60px 0px;

    #content {
        float: left;

        p {
            @include font-style(14px, normal, 27px, #77838f);
            font-size: 14px;
            width: 323px;
            height: 81px;
            display: inline-block;
            line-height: 27px;
        }
    }

    #helpful-links {
        float: left;
        margin-left: 127px;
    }

    #servicess {
        float: left;
        margin-left: 44px;
    }

    #contact-us {
        float: left;
        margin-left: 50px;

         span {
            display: block;
            margin-bottom: 13px;
        }
    }
}
